button {
	padding: 0.75rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 1rem;
	font-weight: bold;
  background: var(--plink);
	color: var(--neutral-high);
	border: none;
	border-radius: 1rem;
	box-shadow: var(--shadow);
}

button.inverse {
	background: var(--neutral-high);
	color: var(--contrast-high);
}

button[type='icon'] {
	padding: 0.25rem;
	background: var(--neutral-high);
	color: var(--plink);
	border-radius: 50%;
	aspect-ratio: 1/1;
	cursor: pointer;
}

button[type='icon'] svg {
	color: var(--plink);
}

button[type='icon']:active {
	background: var(--plink);
	color: var(--neutral-high);
}

button[type='icon']:active svg {
	color: var(--neutral-high);
}

button[type='icon'].inverse {
	background: var(--plink);
	color: var(--neutral-high);
}

button[type='icon'].inverse svg {
	color: var(--neutral-high);
}

button[type='icon'].inverse:active {
	background: var(--neutral-high);
	color: var(--plink);
}

button[type='icon'].inverse:active svg {
	color: var(--plink);
}

button[type='icon'].more {
	background: var(--neutral-high);
	color: var(--plink);
}

button:disabled {
	filter: grayscale(0.5);
}