button {
	padding: 0.75rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 1rem;
	font-weight: bold;
  background: var(--plink);
	color: var(--neutral-high);
	border: none;
	border-radius: 1rem;
	box-shadow: var(--shadow);
	cursor: pointer;
}

button[type='icon'] {
	padding: 0.25rem;
	border-radius: 50%;
	aspect-ratio: 1/1;
}

button.inverse {
	background: var(--neutral-high);
	color: var(--contrast-high);
}

button[type='icon'].inverse {
	color: var(--plink);
}

button.disabled {
	background: var(--neutral-low);
	color: var(--contrast-low);
	cursor: not-allowed;
}

/* button svg {
	color: var(--neutral-high);
}

button:active {
	background: var(--neutral-high);
	color: var(--plink);
}

button:active svg {
	color: var(--neutral-high);
}

button[disabled='true'] {
	background: var(--neutral-low);
	color: var(--contrast-low);
}

button[type='icon'] {
	padding: 0.25rem;
	border-radius: 50%;
	aspect-ratio: 1/1;
	cursor: pointer;
}

button[type='icon'].more {
	background: var(--neutral-high);
	color: var(--plink);
}

button:disabled {
	filter: grayscale(0.5);
} */