input, textarea {
	padding: 0.5rem;
	color: var(--neutral-high);
	background: var(--plink-grad);
	border: none;
	border-radius: 0.5rem;
	font-size: inherit;
	font-weight: 400;
}

textarea {
	resize: none;
	cursor: text;
}